.reset-password-wrapper {
  padding: 50px;
}

.title {
  color: #2e4c6d;
}

.description {
  color: #626262;
  margin-bottom: 14px;
}

.email {
  width: 100%;
}

.error {
  margin: -14px 0 18px;
  font-size: 12px;
  color: #ff6f43;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;

  & > *:not(:first-child) {
    margin-left: 8px;
  }
}

.cancel-button {
  color: #2e4c6d;
}

.submit-button {
  display: inline-flex;
  align-items: center;
  height: 36px;

  ::ng-deep {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      line-height: 1;
    }
  }

  &:hover {
    background: #2e4c6d;
  }
}
