.dialog-wrapper {
  position: relative;
}

.spot-title-wrapper {
  display: flex;
  align-items: baseline;
  .spot-title-info {
    display: inline-flex;
    line-height: 20px;
    align-items: flex-end;
  }
  mat-icon {
    margin-left: 7px;
  }
}

.spot-name {
  font-size: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1.2;
  color: #2e4c6d;
}

.category {
  font-family: 'Questrial', sans-serif;
  font-size: 22px;
  color: #767676;
}

.tag-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 14px;
  padding: 2px 0;
  font-size: 16px;
  color: #2e4c6d;
}

.tag-wrapper {
  margin: 0 8px 6px 0;
  padding: 0 14px;
  height: 30px;
  background: #e6f2f6;
  border: 1px solid #9fc9dc;
  border-radius: 15px;
  .tag-content {
    line-height: 30px;
    white-space: nowrap;
  }
}

.images {
  position: relative;
  margin: auto;
  width: 600px;
  height: 0;
  padding-top: 56.25%;
  max-width: 100%;
  overflow: hidden;
  .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:not(.dragging) {
      transition: transform 0.3s ease;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}

.image-buttons {
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: background 0.3s;
  mat-icon {
    color: #396fb0;
    transition: color 0.3s;
  }
  &:hover {
    background: rgba(#e1e1e1, 0.5);
    mat-icon {
      color: #2e4c6d;
    }
  }
}

.previous-img-button {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.next-img-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.images-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;

  .dot {
    $size: 6px;
    width: $size;
    height: $size;
    border-radius: 50%;
    margin: 12px 3px 20px;
    background: #c1deea;
    transition: background 0.3s ease;
    transition-property: backgroud, transform;

    &.active {
      transform: scale(1.33);
      background: #396fb0;
    }
  }
}

.note-wrapper {
  display: flex;
  .note-container {
    background: #efefef;
    padding: 14px;
    width: 0;
    flex: 1;
    max-width: 100%;
    border-radius: 8px;
    color: #626262;
  }
  .note-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 15px;
  }
  .note-content {
    white-space: pre-wrap;
  }
}

.edit-button {
  position: absolute;
  top: 20px;
  left: 20px;
  mat-icon {
    color: #396fb0;
    transition: color 0.3s;
  }
  &:hover {
    mat-icon {
      color: #2e4c6d;
    }
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  mat-icon {
    color: #396fb0;
    transition: color 0.3s;
  }
  &:hover {
    mat-icon {
      color: #2e4c6d;
    }
  }
}
