<div class="dialog-wrapper">
  <!-- Spot -->
  <div class="row">
    <mat-form-field class="spot-container no-padding" appearance="outline">
      <mat-label>Spot</mat-label>
      <input #spotInput matInput placeholder="Ex. Yosemite" />
    </mat-form-field>
  </div>

  <!-- Category -->
  <div class="row">
    <div class="title category">Category</div>
    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="selectedCategory"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let category of categories"
        [value]="category"
      >
        {{category}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Icon -->
  <div class="row">
    <div class="title select-icon">Mark</div>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedIcon">
      <mat-radio-button
        class="mark-radio-button"
        *ngFor="let icon of icons"
        [value]="icon"
      >
        {{icon.label}}
        <mat-icon class="mark-icon" [style.color]="icon.color">
          {{icon.icon}}
        </mat-icon>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Tags -->
  <div class="row">
    <div class="title tags">Tags</div>
  </div>

  <!-- Notes -->
  <div class="row">
    <mat-form-field class="note-container no-padding" appearance="outline">
      <mat-label>Notes</mat-label>
      <textarea matInput [(ngModel)]="notes"></textarea>
    </mat-form-field>
  </div>

  <!-- Upload images -->
  <div class="row title">Images</div>
  <div class="row image-row">
    <div *ngFor="let image of uploadImages" class="image-wrapper">
      <img [src]="image.previewURL" />
    </div>
    <div class="upload-img">
      <input
        type="file"
        accept="image/*"
        multiple
        (change)="onSelectImg($event)"
      />
      <mat-icon class="upload-icon">collections</mat-icon>
      <span>Add Photo</span>
    </div>
  </div>

  <!-- Save and cancel button -->
  <div class="row button-row" mat-dialog-actions>
    <button class="cancel-button" mat-raised-button mat-dialog-close>
      Cancel
    </button>
    <button
      class="save-button"
      mat-raised-button
      color="accent"
      (click)="onSave()"
    >
      Save
    </button>
  </div>
</div>
