<div class="dialogWrapper">
  <!-- Spot -->
  <div class="row">
    <mat-form-field class="spotContainer" appearance="outline">
      <mat-label>Spot</mat-label>
      <input matInput [(ngModel)]="spotLocation" placeholder="Ex. Yosemite">
    </mat-form-field>
  </div>

  <!-- Category -->
  <div class="row categoryRow">
    <div class="title category">Category</div>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedCategory">
      <mat-radio-button class="example-radio-button" *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Icon -->
  <div class="row">
    <div class="title selectIcon">Mark</div>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedIcon">
      <mat-radio-button class="mark-radio-button" *ngFor="let icon of icons" [value]="icon">
        {{icon.label}} <mat-icon class="mark-icon" [style.color]="icon.color"> {{icon.icon}} </mat-icon>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Tags -->
  <div class="row">
    <div class="title tags">Tags</div>
  </div>

  <!-- Notes -->
  <div class="row noteRow">
    <mat-form-field class="noteContainer" appearance="outline">
      <mat-label>Notes</mat-label>
      <textarea matInput [(ngModel)]="notes"></textarea>
    </mat-form-field>
  </div>

  <!-- Upload images -->
  <div class="row imageRow">
    <div class="title images">Images</div>
  </div>

  <!-- Save and cancel button -->
  <div class="row buttonRow" mat-dialog-actions>
    <button class="cancelButton" mat-raised-button mat-dialog-close>Cancel</button>
    <button class="saveButton" mat-raised-button color="accent" (click)="onSave()">Save</button>
  </div>
</div>
