<div class="list-wrapper">
  <div class="search-box">
    <mat-form-field class="no-padding input-outline-primary" appearance="outline">
      <mat-label>Search for spots</mat-label>
      <input
        #searchInput
        matInput
        placeholder="Ex: Yosemite"
        [(ngModel)]="searchValue"
        (ngModelChange)="filterMarkers()"
        (keydown.enter)="$event.preventDefault(); filterMarkers()"
      />
      <mat-icon matSuffix (click)="filterMarkers()">search</mat-icon>
    </mat-form-field>
  </div>
  <div
    *ngFor="let marker of filteredMarkers; let i = index;"
    class="spot-wrapper"
    [class.selected]="firebaseService.selectedSpotId === marker.spotId"
    (click)="openSpotInfo(marker)"
  >
    <div class="spot-name">{{marker.spot.name}}</div>
    <div class="detail">
      <div class="category-and-tag-wrapper">
        <div class="category">{{marker.spot.category}}</div>
        <mat-icon [ngStyle]="{color: iconColorMap[marker.spot.icon]}">
          {{marker.spot.icon}}
        </mat-icon>
      </div>
      <div class="images">
        <img *ngIf="marker.spot.images.length > 0" [src]="marker.spot.images[0].url" />
      </div>
    </div>

    <div class="tag-row">
      <div *ngFor="let tag of marker.spot.tags" class="tag-wrapper">
        <div class="tag-content">{{tag}}</div>
      </div>
    </div>
  </div>
</div>
